<div #spacer></div>
<header id="header" stickyThing [spacer]="spacer">
  <div class="container">
    <div class="row">
      <div class="block size-20">
        <div class="content logo">
          <img src="../../../assets/logo.png" alt="Progress Logo">
        </div>
      </div>
      <div class="block">
        <div class="content">
          <nav class="main-menu" role="navigation">
            <ul class="toplevel">
              <li class="menu-item active">
                <a class="menu-item-link" href="#">Home</a>
              </li>
              <li class="menu-item">
                <a class="menu-item-link" href="#">Kendo UI</a>
              </li>
              <li class="menu-item">
                <a class="menu-item-link" href="#">Support</a>
              </li>
              <li class="menu-item">
                <a class="menu-item-link" href="#">About Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>