// Body
body {
	font-size: $core-font-size;
	line-height: $core-line-height;
	font-family: $body-font;
	font-weight: 300;
}

// Headings
h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $heading-margin;
	font-family: $heading-font;
}

// Paragraph
p {
	margin-bottom: $heading-margin;
}